:root {
  --red-color: rgb(175, 34, 34);
  --black-color: black;
  --white-color: rgba(255, 255, 255, 0.895);
  --gray-color: rgba(171, 171, 171, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: var(--white-color);
}
