.container {
  margin: 25px 0 25px 0;


  .campusimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
}

.campusimage {
  .campusContent {
    .leftContent {
    
 

   p{
    font-size: 24px;
    font-weight: bolder;
    color: var(--white-color);

   }
    button {
      width: 307px;
      height: 48px;
      background-color: var(--red-color);
      color: white;
      border: none;
      font-size: 14px;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bolder;

      span {
        font-size: 12px;
        line-height: 100%;
        font-weight: bold;
        border-radius: 40px;
        border: 2px solid var(--white-color);
        margin-left: 30px;
        padding: 1px 3px 1px 3px;
      }
    }
  }

    .rightContent {
      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 10px 40px;
        
        background: linear-gradient(to right , #b52323,#7d0202);
         border-radius: 12px;
         width: 100%;
        max-width: 600px;
      }

      p {
        color: var(--white-color);
        font-size: 24px;


        span {
          font-size: 14px;
        }

      }

      hr {
        height: 40px
      }
    }
  }
}